/*=============================================
CARRITO DE COMPRAS
=============================================*/
.cabeceraCarrito{
	height:40px;
	border-color: #9d2fb0;
}

.cabeceraCarrito h3{
	margin-top:-5px

}

.cabeceraCheckout{
	height:66px;
}

#carrito{
	border-radius: 10px;
}
/*=============================================
CHECKOUT
=============================================*/

.contenidoCheckout, .contenidoCheckout .row{
	padding:0px 20px;
}

.formEnvio{
	display:none;
}
